# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# Editor/IDE
 .idea/*
 .vscode/
/.idea/dataSources/526ab9f1-3e26-4725-9ef8-5e355392baf6/storage_v2/_src_/database/crypto.wfBurw/schema/information_schema.FNRwLQ.meta
/.idea/dataSources/526ab9f1-3e26-4725-9ef8-5e355392baf6/storage_v2/_src_/database/crypto.wfBurw/schema/pg_catalog.0S1ZNQ.meta
/.idea/dataSources/526ab9f1-3e26-4725-9ef8-5e355392baf6/storage_v2/_src_/database/crypto.wfBurw/schema/public.abK9xQ.meta
/.idea/dataSources/526ab9f1-3e26-4725-9ef8-5e355392baf6/storage_v2/_src_/database/crypto.wfBurw.meta
/.idea/dataSources/526ab9f1-3e26-4725-9ef8-5e355392baf6.xml
/.idea/crypto-rate-service.iml
/.idea/dataSources.local.xml
/.idea/dataSources.xml
/.idea/modules.xml
/.idea/sqldialects.xml
/.idea/vcs.xml
/.idea/workspace.xml
